footer {
    background-color: $purple;
    padding: 200px 15% 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    border-top: 7px dashed;
    border-color: white;
    h4, a, p {
        color: white;
    }
    .footer {
        display: flex;
        flex-direction: column;
        gap: 25px;
        span {
            background-color: white;
            width: 5px;
            height: 250px;
            opacity: 50%;
        }
        .footerSocials {
            display: flex;
            gap: 50px;
            .socials {
                stroke: white;
                &:hover {
                    stroke: $turkis;
                }
            }
        }
    }
    a {
        font-weight: 400;
    }
}