* {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$turkis: #04D1AF;
$darkTurkis: #225B5D;
$purple: #2E2046;
$copper: #B87333;

body {
    a {
        color: $darkTurkis;
        text-decoration: none;
        transition: .5s;

        &:hover {
            color: $turkis;
        }

        font-size: 1.06rem;
        font-weight: 600;
    }

    h1 {
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 1.7;
    }

    h2 {
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 1.7;
    }

    h3 {
        font-size: 1.15rem;
        font-weight: 500;
        line-height: 1.7;
    }

    h4 {
        font-size: 1.06rem;
        font-weight: 600;
        line-height: 1.7;
    }

    p {
        font-size: 1.06rem;
        font-weight: 400;
        line-height: 1.7;
    }
    i {
        font-size: 18px;
    }
}



.socials {
    transition: .5s;

    &:hover {
        stroke: #04D1AF;
    }
}

.white {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    border-radius: 50px;
    gap: 20px;
    background-color: white;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 500px;
    color: $darkTurkis;

    div {
        display: flex;
        gap: 20px;
    }

    h5 {
        font-size: 1rem;
        padding: 10px 30px;
        border-radius: 50px;
        background-color: $darkTurkis;
        color: white;
        font-weight: 400;
    }
}

.green {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    border-radius: 50px;
    gap: 20px;
    background-color: $darkTurkis;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 500px;
    color: white;

    div {
        display: flex;
        gap: 20px;
    }
}

.copper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    border-radius: 50px;
    gap: 20px;
    background-color: $copper;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 500px;
    color: white;

    div {
        display: flex;
        gap: 20px;
    }

    h5 {
        font-size: 1rem;
        padding: 10px 30px;
        border-radius: 50px;
        background-color: white;
        color: $copper;
        font-weight: 400;
    }
}

button {
    padding: 10px 50px;
    border: 1px solid white;
    border-radius: 50px;
    background: $turkis;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition: .5s;

    &:hover {
        background-color: #143738;
        cursor: pointer;
    }
}

button.alt {
    padding: 10px 50px;
    background: rgba(4, 209, 175, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    &:hover {
        background: hsla(170, 96%, 20%, 0.2);
    }
}

hr#white {
    border: none; // fjern default
    border-top: 4px dashed rgb(255, 255, 255);
    margin: 1rem 0; // valgfrit spacing
    width: 100%;
    height: 0; // fjern højde
}

hr#green {
    border: none; // fjern default
    border-top: 4px dashed $darkTurkis;
    margin: 1rem 0; // valgfrit spacing
    width: 100%;
    height: 0; // fjern højde
}

hr#short {
    border: none; // fjern default
    border-top: 4px dashed $darkTurkis;
    margin: 1rem 0; // valgfrit spacing
    width: 25%;
    height: 0; // fjern højde
}

.accordion {
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background: $darkTurkis;
  color: white;

  padding: 10px 30px; // start-padding
  transition: padding 0.5s ease;

  summary {
    cursor: pointer;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 1rem;

    #highlight {
      color: $turkis;
    }
  }

  &[open] {
    padding: 30px 30px; // target-padding
  }
}
