.hero {
    display: flex;
    justify-content: center;
    background: url("/assets/images/ginta.JPG") left;
    background-size: cover;

    div {
        margin: 500px 100px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 100px;
        border-radius: 50px;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 1);
        width: 100%;
        max-width: 500px;
        margin-left: 50%;
        text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.8);
        color: white;
    }
}
.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 200px 0;
    gap: 100px;
}