// Example breakpoints
$mobile: 576px;
$tablet: 768px;
$laptop: 1120px;
$mac: 1440px;

@media (max-width: $mobile) {
    .white, .green {
        padding: 100px 25px;
        border-radius: 0;
        box-shadow: none;
    }
    .copper {
        margin: 20px;
        padding: 30px;
    }
    .livserfaring {
        border-radius: 0;
    }
    section.hero {
        background-position: 18% 50%;
        div {
        margin: 700px 20px 50px;
        padding: 25px;
    }
    }
    section.home {
        margin: 0;
        gap: 0;
    }
    section.contact {
        padding: 300px 10px;
        gap: 50px;
        .glass {
            padding: 30px;
        }
        .buttons {
            justify-content: center;
        }
    }
    section.about {
        gap: 0;
    }
    section.podcast {
        padding: 100px 0;
        div {
            justify-content: center;
        }
    }
    section.testimonial-list {
        padding: 0;
        .testimonial {
            margin: 20px;
        }
    }
}

@media (max-width: $tablet) {
    nav .routes .nav-link {
        display: none;
    }

    nav .menu {
        display: block;
    }
}

@media (max-width: $laptop) {
    footer {
        justify-content: space-between;
    }
}

@media (max-width: $mac) {
    nav {
        left: 15px;
        right: 15px;
        top: 15px;
        padding: 25px 50px;

        .routes {
            gap: 50px;
        }
    }
}

@media (min-width: #{ $tablet + 1 }) {
  nav .menu {
    display: none;
  }
}