nav {
    position: fixed;
    top: 25px;
    left: 100px;
    right: 100px;
    height: 75px;
    z-index: 3;
    padding: 25px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
    transition: 1s;

    .routes {
        display: flex;
        gap: 75px;
        align-items: center;
        transition: 1s;
        a {
            font-weight: 500;
        }

        .dropdown {
            padding: 25px 0;

            .content {
                display: none;

                a {
                    display: block;
                    padding: 25px;
                    font-weight: 400;
                }
            }

            &:hover .content {
                display: block;
                background: rgb(244, 244, 244);
                border: 1px solid rgba(255, 255, 255, 1);
                border-radius: 20px;
                position: absolute;
                top: 60px;
            }
        }
    }
    .before {
        background-color: $turkis;
        border-radius: 50%;
        transition: all 0.3s;
    }
    .after {
        background-color: red;
        border-radius: 50%;
        transition: all 0.3s;
    }
}

.stop {
    display: none;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: all 0.3s ease;

    a {
        visibility: hidden;
    }
}

/* Fullscreen navigation menu */
.start {
    visibility: visible;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    position: fixed;
    background-color: rgba(60, 60, 60, 0.5);
    backdrop-filter: blur(100px);
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 2;
    transition: all 0.3s;

    a {
        color: white;
        text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.5);
        text-decoration: none;
        transition: color 0.3s;
        font-size: 1.2rem;
        margin-left: 15%;

        &:hover {
            color: $turkis; // Add hover effect for menu links
        }
    }
    .unique {
        font-size: 1.1rem;
        font-weight: 500;
        color: #cacaca;
        text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.5);
    }
}