* {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body a {
  color: #225B5D;
  text-decoration: none;
  transition: 0.5s;
  font-size: 1.06rem;
  font-weight: 600;
}
body a:hover {
  color: #04D1AF;
}
body h1 {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.7;
}
body h2 {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.7;
}
body h3 {
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.7;
}
body h4 {
  font-size: 1.06rem;
  font-weight: 600;
  line-height: 1.7;
}
body p {
  font-size: 1.06rem;
  font-weight: 400;
  line-height: 1.7;
}
body i {
  font-size: 18px;
}

.socials {
  transition: 0.5s;
}
.socials:hover {
  stroke: #04D1AF;
}

.white {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  border-radius: 50px;
  gap: 20px;
  background-color: white;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 500px;
  color: #225B5D;
}
.white div {
  display: flex;
  gap: 20px;
}
.white h5 {
  font-size: 1rem;
  padding: 10px 30px;
  border-radius: 50px;
  background-color: #225B5D;
  color: white;
  font-weight: 400;
}

.green {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  border-radius: 50px;
  gap: 20px;
  background-color: #225B5D;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 500px;
  color: white;
}
.green div {
  display: flex;
  gap: 20px;
}

.copper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  border-radius: 50px;
  gap: 20px;
  background-color: #B87333;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 500px;
  color: white;
}
.copper div {
  display: flex;
  gap: 20px;
}
.copper h5 {
  font-size: 1rem;
  padding: 10px 30px;
  border-radius: 50px;
  background-color: white;
  color: #B87333;
  font-weight: 400;
}

button {
  padding: 10px 50px;
  border: 1px solid white;
  border-radius: 50px;
  background: #04D1AF;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.5s;
}
button:hover {
  background-color: #143738;
  cursor: pointer;
}

button.alt {
  padding: 10px 50px;
  background: rgba(4, 209, 175, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
button.alt:hover {
  background: hsla(170, 96%, 20%, 0.2);
}

hr#white {
  border: none;
  border-top: 4px dashed rgb(255, 255, 255);
  margin: 1rem 0;
  width: 100%;
  height: 0;
}

hr#green {
  border: none;
  border-top: 4px dashed #225B5D;
  margin: 1rem 0;
  width: 100%;
  height: 0;
}

hr#short {
  border: none;
  border-top: 4px dashed #225B5D;
  margin: 1rem 0;
  width: 25%;
  height: 0;
}

.accordion {
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background: #225B5D;
  color: white;
  padding: 10px 30px;
  transition: padding 0.5s ease;
}
.accordion summary {
  cursor: pointer;
}
.accordion .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-top: 1rem;
}
.accordion .content #highlight {
  color: #04D1AF;
}
.accordion[open] {
  padding: 30px 30px;
}

nav {
  position: fixed;
  top: 25px;
  left: 100px;
  right: 100px;
  height: 75px;
  z-index: 3;
  padding: 25px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgb(255, 255, 255);
  transition: 1s;
}
nav .routes {
  display: flex;
  gap: 75px;
  align-items: center;
  transition: 1s;
}
nav .routes a {
  font-weight: 500;
}
nav .routes .dropdown {
  padding: 25px 0;
}
nav .routes .dropdown .content {
  display: none;
}
nav .routes .dropdown .content a {
  display: block;
  padding: 25px;
  font-weight: 400;
}
nav .routes .dropdown:hover .content {
  display: block;
  background: rgb(244, 244, 244);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  position: absolute;
  top: 60px;
}
nav .before {
  background-color: #04D1AF;
  border-radius: 50%;
  transition: all 0.3s;
}
nav .after {
  background-color: red;
  border-radius: 50%;
  transition: all 0.3s;
}

.stop {
  display: none;
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: all 0.3s ease;
}
.stop a {
  visibility: hidden;
}

/* Fullscreen navigation menu */
.start {
  visibility: visible;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  position: fixed;
  background-color: rgba(60, 60, 60, 0.5);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 2;
  transition: all 0.3s;
}
.start a {
  color: white;
  text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.5);
  text-decoration: none;
  transition: color 0.3s;
  font-size: 1.2rem;
  margin-left: 15%;
}
.start a:hover {
  color: #04D1AF;
}
.start .unique {
  font-size: 1.1rem;
  font-weight: 500;
  color: #cacaca;
  text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.5);
}

footer {
  background-color: #2E2046;
  padding: 200px 15% 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  border-top: 7px dashed;
  border-color: white;
}
footer h4, footer a, footer p {
  color: white;
}
footer .footer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .footer span {
  background-color: white;
  width: 5px;
  height: 250px;
  opacity: 50%;
}
footer .footer .footerSocials {
  display: flex;
  gap: 50px;
}
footer .footer .footerSocials .socials {
  stroke: white;
}
footer .footer .footerSocials .socials:hover {
  stroke: #04D1AF;
}
footer a {
  font-weight: 400;
}

section.hero {
  display: flex;
  justify-content: center;
  background: url("/assets/images/Ginta.webp") left;
  background-size: cover;
}
section.hero div {
  margin: 200px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgb(255, 255, 255);
  width: 100%;
  max-width: 500px;
  margin-left: 40%;
  color: #225B5D;
}

section.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px 0 100px;
  gap: 100px;
}

section.contact {
  background: url("/assets/images/Matt-hardy.webp");
  background-size: cover;
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
section.contact .profilepic {
  border-radius: 100%;
  border: solid rgba(255, 255, 255, 0.5) 10px;
}
section.contact .glass {
  width: 100%;
  max-width: 500px;
  border-radius: 50px;
  color: #225B5D;
  padding: 50px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
section.contact .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}
section.contact .buttons button {
  padding: 10px 30px;
  background: rgba(4, 209, 175, 0.2);
  text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 25px;
}
section.contact .buttons button:hover {
  background: hsla(170, 96%, 20%, 0.2);
}

section.about {
  display: flex;
  flex-wrap: wrap;
  align-items: safe;
  justify-content: center;
  gap: 20px;
}
section.about .copper h2 {
  color: white;
}

section.pairs {
  padding: 200px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
section.pairs h1, section.pairs h2 {
  color: #225B5D;
}

section.testimonial-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 0 200px;
}
section.testimonial-list h2 {
  color: #225B5D;
}

.testimonial {
  background: #B87333;
  border-radius: 25px;
  padding: 2rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  color: white;
}
.testimonial p {
  line-height: 1.8;
  margin-bottom: 1rem;
}
.testimonial cite {
  display: block;
  font-style: normal;
  color: white;
  font-weight: 600;
  text-align: right;
}

section.podcast {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 100px;
  gap: 20px;
}
section.podcast h2 {
  color: #225B5D;
}
section.podcast div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
section.podcast .podcasts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px;
  border-radius: 50px;
  gap: 20px;
  background-color: white;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 300px;
  color: #225B5D;
}
section.podcast .podcasts img {
  border-radius: 25px;
}
section.podcast .podcasts div {
  display: flex;
  gap: 20px;
}
section.podcast .podcasts h5 {
  font-size: 1rem;
  padding: 10px 30px;
  border-radius: 50px;
  background-color: #225B5D;
  color: white;
  font-weight: 400;
}
section.podcast .podcasts a button {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 20px;
}
section.podcast .podcasts .apple button {
  background-color: #2E2046;
}
section.podcast .podcasts .apple button:hover {
  background-color: hsl(276, 100%, 50%);
}
section.podcast .podcasts .spotify button {
  background-color: #1e1e1e;
}
section.podcast .podcasts .spotify button:hover {
  background-color: hsl(141, 76%, 20%);
}

main.not-found {
  display: flex;
  justify-content: center;
  padding: 300px 20px;
}
main.not-found .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
main.not-found h1 {
  font-size: 4rem;
  color: #225B5D;
}
main.not-found p {
  font-size: 1.4rem;
  color: #225B5D;
}
main.not-found .home-link {
  font-size: 1.2rem;
  font-weight: 500;
}
main.not-found img {
  border-radius: 100%;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .white, .green {
    padding: 100px 25px;
    border-radius: 0;
    box-shadow: none;
  }
  .copper {
    margin: 20px;
    padding: 30px;
  }
  .livserfaring {
    border-radius: 0;
  }
  section.hero {
    background-position: 18% 50%;
  }
  section.hero div {
    margin: 700px 20px 50px;
    padding: 25px;
  }
  section.home {
    margin: 0;
    gap: 0;
  }
  section.contact {
    padding: 300px 10px;
    gap: 50px;
  }
  section.contact .glass {
    padding: 30px;
  }
  section.contact .buttons {
    justify-content: center;
  }
  section.about {
    gap: 0;
  }
  section.podcast {
    padding: 100px 0;
  }
  section.podcast div {
    justify-content: center;
  }
  section.testimonial-list {
    padding: 0;
  }
  section.testimonial-list .testimonial {
    margin: 20px;
  }
}
@media (max-width: 768px) {
  nav .routes .nav-link {
    display: none;
  }
  nav .menu {
    display: block;
  }
}
@media (max-width: 1120px) {
  footer {
    justify-content: space-between;
  }
}
@media (max-width: 1440px) {
  nav {
    left: 15px;
    right: 15px;
    top: 15px;
    padding: 25px 50px;
  }
  nav .routes {
    gap: 50px;
  }
}
@media (min-width: 769px) {
  nav .menu {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */