section.hero {
    display: flex;
    justify-content: center;
    background: url("/assets/images/Ginta.webp") left;
    background-size: cover;

    div {
        margin: 200px 0px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 50px;
        border-radius: 50px;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 1);
        width: 100%;
        max-width: 500px;
        margin-left: 40%;
        color: $darkTurkis;
    }
}
section.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 100px 0 100px;
    gap: 100px;
}