section.podcast {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 100px;
    gap: 20px;

    h2 {
        color: $darkTurkis;
    }

    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .podcasts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 50px;
        border-radius: 50px;
        gap: 20px;
        background-color: white;
        box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.05);
        width: 100%;
        max-width: 300px;
        color: $darkTurkis;

        img {
            border-radius: 25px;
        }

        div {
            display: flex;
            gap: 20px;
        }

        h5 {
            font-size: 1rem;
            padding: 10px 30px;
            border-radius: 50px;
            background-color: $darkTurkis;
            color: white;
            font-weight: 400;
        }

        a button {
            display: flex;
            gap: 20px;
            align-items: center;
            padding: 10px 20px;
        }

        .apple button {
            background-color: $purple;
            &:hover {
                background-color: hsl(276, 100%, 50%);
            }
        }

        .spotify button {
            background-color: #1e1e1e;

            &:hover {
                background-color: hsl(141, 76%, 20%);
            }
        }
    }
}